* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: whitesmoke;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #181818;
 
 
}
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
 /* box-shadow: inset 0 0 5px grey; */
  /* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:  #6e00c9;
  /* border-radius: 10px; */
}